.container {
    margin: 0 auto;
    max-width: 960px;
}

.cover {
    text-align: center;
}

.parent {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
 }

.child {
    text-align: center;
    width: 30%;
 }

 .child:not(:last-child) {
     margin-right: 4%;
 }

 .child img{
    width: 100%;
 }

 .title {
     text-align: center;
 }